.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
  background-color: #bae2f6;
  background-size: cover;
}

.logo {
  max-width: 500px;
  height: auto;
  padding: 0.1em;
  margin-bottom: 20px;
  transition: filter 300ms;
  will-change: filter;
}

.container-login {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.login-container,
.guest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container-image {
  max-width: 75%;
  height: auto;
  margin-bottom: 15px;
}

.container-image1 {
  max-width: 70%;
  height: auto;
  margin-bottom: 15px;
}

.login-button,
.guest-button {
  width: 100%;
  padding: 10px;
  font-size: medium;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.guest-button {
  background-color: #28a745;
}

.login-button:hover {
  background-color: #e50a0a;
}

.guest-button:hover {
  background-color: #e50a0a;
}

  
  
  
  
  