nav {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  padding: 10px; 
}

nav ul {
  display: flex;
  align-items: flex-start; 
  list-style: none; 
  padding: 0;
  margin: 0; 
}

nav ul li {
  margin-right: 2rem; 
  position: relative; 
}

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li:not(:last-child)::after {
  content: " │ "; 
  color: white; 
  margin-left: 10px; 
}

.button-audio, .button-logout {
  padding: 10px 20px; 
  font-size: 16px; 
  color: white; 
  background: none; 
  border: none; 
  cursor: pointer; 
  outline: none; 
  transition: color 0.3s; 
}

.button-audio:hover, .button-logout:hover {
  color: #ffd700; 
}

.button-audio img, .button-logout img {
  width: 35px; 
  height: auto; 
  margin-right: 5px; 
}

.button-logout {
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  padding: 10px; 
}

nav ul {
  display: flex;
  align-items: flex-start; 
  list-style: none; 
  padding: 0;
  margin: 0; 
}

nav ul li {
  margin-right: 2rem; 
  position: relative; 
}

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li:not(:last-child)::after {
  content: " │ "; 
  color: white; 
  margin-left: 10px; 
}

.button-audio, .button-logout {
  padding: 10px 20px; 
  font-size: 16px; 
  color: white; 
  background: none; 
  border: none; 
  cursor: pointer; 
  outline: none; 
  transition: color 0.3s; 
}

.button-audio:hover, .button-logout:hover {
  color: #ffd700; 
}

.button-audio img, .button-logout img {
  width: 35px; 
  height: auto; 
  margin-right: 5px; 
}

.button-logout {
  margin-top: 10px;
}