html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: url('./assets/Fondo.gif') no-repeat center center fixed;
  background-size: cover; 
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
}

  